* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 2px;
 }
 
 .black {
   background-color: #333333;
 }
 
 .blue {
   background-color: #34b4e9;
 }
 
 .red {
   background-color: #8d008c;
 }
 
 .orange {
   background-color: #deb887;
 }
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   flex-direction: column;
   align-items: center;
   display: none;
 }
 
 li {
   margin-left: 40px;
 }
 
 a {
   color: white;
   cursor: pointer;
 }
 
 .blueBoxs {
   margin-top: 10px;
   margin-bottom: 10px;
   height: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
 .boxes {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
 }
 
 #p {
   margin-top: 20px;
 }
 
 .redBoxs {
   margin-top: 15px;
   margin-bottom: 15px;
   height: 80px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 
 #firstNight {
   margin-top: 0;
 }
 
 .footer {
   margin-top: 30px;
   margin-bottom: 5px;
   height: 90px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-around;
   justify-content: center;
 }
 
 @media only screen and (max-width: 600px) {
   .fa-menu {
     width: 35px;
     height: 5px;
     background-color: red;
     margin: 3px 0;
   }
 
   #firstRedBox {
     margin-top: 4px;
   }
 
   li {
     margin-top: 30px;
     margin-left: 0;
   }
 
   .nav {
     display: flex;
     text-align: center;
     align-items: center;
     flex-direction: column;
     height: 200px;
   }
 
   ul {
     display: block;
     list-style-type: none;
     margin: 0;
     padding: 0;
     flex-direction: column;
     align-items: center;
   }
 
   .col-1 {
     width: 8.33%;
   }
   .col-2 {
     width: 16.66%;
   }
   .col-3 {
     width: 25%;
   }
   .col-4 {
     width: 33.33%;
   }
   .col-5 {
     width: 41.66%;
   }
   .col-6 {
     width: 50%;
   }
   .col-7 {
     width: 58.33%;
   }
   .col-8 {
     width: 66.66%;
   }
   .col-9 {
     width: 75%;
   }
   .col-10 {
     width: 83.33%;
   }
   .col-11 {
     width: 91.66%;
   }
   .col-12 {
     width: 100%;
   }
   .p-30 {
     padding: 30px;
   }
   .pl-30 {
     padding-left: 30px;
   }
   .pr-30 {
     padding-right: 30px;
   }
   .pt-30 {
     padding-top: 30px;
   }
   .pb-30 {
     padding-bottom: 30px;
   }
   .p-0 {
     padding: 0;
   }
   .pl-0 {
     padding-left: 0;
   }
   .pr-0 {
     padding-right: 0;
   }
   .pt-0 {
     padding-top: 0;
   }
   .pb-0 {
     padding-bottom: 0;
   }
 
   .display {
     display: none;
   }
 }
 
 @media only screen and (min-width: 600px) {
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     height: 60px;
     display: flex;
     flex-direction: row;
     align-items: center;
   }
   .col-sm-1 {
     width: 8.33%;
   }
   .col-sm-2 {
     width: 16.66%;
   }
   .col-sm-3 {
     width: 25%;
   }
   .col-sm-4 {
     width: 33.33%;
   }
   .col-sm-5 {
     width: 41.66%;
   }
   .col-sm-6 {
     width: 50%;
   }
   .col-sm-7 {
     width: 58.33%;
   }
   .col-sm-8 {
     width: 66.66%;
   }
   .col-sm-9 {
     width: 75%;
   }
   .col-sm-10 {
     width: 83.33%;
   }
   .col-sm-11 {
     width: 91.66%;
   }
   .col-sm-12 {
     width: 100%;
   }
   .p-sm-30 {
     padding: 30px;
   }
   .pl-sm-30 {
     padding-left: 30px;
   }
   .pr-sm-30 {
     padding-right: 30px;
   }
   .pt-sm-30 {
     padding-top: 30px;
   }
   .pb-sm-30 {
     padding-bottom: 30px;
   }
   .p-sm-0 {
     padding: 0;
   }
   .pl-sm-0 {
     padding-left: 0;
   }
   .pr-sm-0 {
     padding-right: 0;
   }
   .pt-sm-0 {
     padding-top: 0;
   }
   .pb-sm-0 {
     padding-bottom: 0;
   }
 }
 
 @media only screen and (min-width: 800px) {
   .redBoxs {
     margin-top: 15px;
     margin-bottom: 15px;
     height: 85px;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
 
   #firstNight {
     margin-top: 10px;
   }
   .col-md-1 {
     width: 8.33%;
   }
   .col-md-2 {
     width: 16.66%;
   }
   .col-md-3 {
     width: 25%;
   }
   .col-md-4 {
     width: 33.33%;
   }
   .col-md-5 {
     width: 41.66%;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-7 {
     width: 58.33%;
   }
   .col-md-8 {
     width: 66.66%;
   }
   .col-md-9 {
     width: 75%;
   }
   .col-md-10 {
     width: 83.33%;
   }
   .col-md-11 {
     width: 91.66%;
   }
   .col-md-12 {
     width: 100%;
   }
   .p-md-30 {
     padding: 30px;
   }
   .pl-md-30 {
     padding-left: 30px;
   }
   .pr-md-30 {
     padding-right: 30px;
   }
   .pt-md-30 {
     padding-top: 30px;
   }
   .pb-md-30 {
     padding-bottom: 30px;
   }
   .p-md-0 {
     padding: 0;
   }
   .pl-md-0 {
     padding-left: 0;
   }
   .pr-md-0 {
     padding-right: 0;
   }
   .pt-md-0 {
     padding-top: 0;
   }
   .pb-md-0 {
     padding-bottom: 0;
   }
 }